body {
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form-cantainer {
    background-color: white;
    padding: 50px;
    text-align: center;
}

h2 {
    margin: 0px 0px 10xp 0px;
}

input {
    width: 200px;
    margin: 10px 0px;
    padding: 10px;
}
#submit {
    width: 220px;
    background-color: #3498db;
    border: none;
    color: white;
}
.error  {
color: red;
margin: 0px;
text-align: left;
}