/* body { 
    /* background-color: pink; 
}

#header {
     
    color: #fff;
}

#header1 {
    color: #ffff22;
}

.box {

    height: 200px;
    width: 100px;
    border: 1px solid  black;
    margin: 5px;
    text-align: center;
    background-color: #ff33;
}

.content {
    color: red;
 } */